:root {
  --white: #fff;
  --dark-blue: #13293d;
  --tan: #d8a47f;
  font-size: large;
}

body {
    font-family: Arial;
    font-size: 120%;
  }
  
  a {
    color: #563d7c;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #8570a5;
  }